{% extends 'base.html.twig' %}

{% block title %}Hello HomeManagerController!{% endblock %}

{% block header %}
    {% include '/admin/sidebar/_sidebar.html.twig' %}
{% endblock %}

{% block body %}
<div class="content">
    <table>
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Texte</th>
            <th scope="col">Image</th>
            <th scope="col">Actif</th>
            <th scope="col">Categories</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
    </table>

</div>
{% endblock %}
