
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active text" aria-current="page" href="/index">Qui nous sommes</a>
                <a class="nav-link text" href="/history">Notre histoire</a>
                <a class="nav-link text" href="/events">Nos évenements</a>
            </div>
        </div>
    </div>
</nav>